* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
:root {
  --custom-blue: #5578ac;
  --custom-white: #ffffff;
  --custom-red: #f74545;
  --custom-black: #000000;
  --custom-green: rgba(68, 176, 85, 0.5);
  /*variables para el menu despegable del usuario*/
  --bg-menu-user: #242526;
  --bg-accent-menu-user: #484a4d;
  --text-color-menu-user: #dadce1;
  --nav-size-menu-user: 60px;
  --border-menu-user: 1px solid #474a4d;
  --border-radius-menu-user: 8px;
  --speed-menu-user: 500ms;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--text-color-menu-user);
  text-decoration: none;
}
@font-face {
  font-family: Play-regular;
  src: url(../fonts/Play-Regular.ttf);
}
@font-face {
  font-family: Play-bold;
  src: url(../fonts/Play-Bold.ttf);
}
@font-face {
  font-family: PTMono;
  src: url(../fonts/PTMono-Regular.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Regular.ttf);
}

h1,
h2 {
  font-family: Roboto-Regular, Verdana, sans-serif;
}

h3 {
  font-family: Roboto-Regular, Verdana, sans-serif;
}

p,
input,
label {
  font-family: Roboto-Regular, Verdana, sans-serif;
}

@media screen and (max-width: 860px) {
  h1 {
    font-size: 14pt !important;
  }
  h2 {
    font-size: 10.5pt !important;
  }
  h3 {
    font-size: 9.5pt !important;
  }

  input,
  select {
    font-size: 9pt !important;
  }
  p,
  label {
    font-size: 8pt !important;
  }
}
