
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

:root {
  --custom-blue: #5578AC;
  --custom-white: #FFFFFF;
  --custom-red: #F74545;
  --custom-black: #000000;
  --custom-green: rgba(68, 176, 85, 0.5);
}

@font-face {
    font-family: Play-regular;
    src: url(../fonts/Play-Regular.ttf);
}
@font-face {
  font-family: Play-bold;
  src: url(../fonts/Play-Bold.ttf);
}
@font-face {
  font-family: PTMono;
  src: url(../fonts/PTMono-Regular.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Regular.ttf);
}


h1, h2 {
  font-family: Roboto-Regular, Verdana, sans-serif;
}

h3 {
  font-family: Roboto-Regular, Verdana, sans-serif;
}

p, input, label {
  font-family: Roboto-Regular, Verdana, sans-serif;
}


@media screen and (max-width: 860px) {
  h1 {
    font-size: 14pt !important;
  }
  h2 {
    font-size: 10.5pt !important;
  }
  h3 {
    font-size: 9.5pt !important;
  }

  input, select {
    font-size: 9pt !important;
  }
  p, label {
    font-size: 8pt !important;
  }
}